<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pimp.companionforband">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.microsoft.band.service.access.BIND_BAND_SERVICE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".AnalyticsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="com.pimp.companionforband.activities.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/MaterialDrawerTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".fragments.extras.TileEventReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.microsoft.band.action.ACTION_TILE_OPENED" />
                <action android:name="com.microsoft.band.action.ACTION_TILE_BUTTON_PRESSED" />
                <action android:name="com.microsoft.band.action.ACTION_TILE_CLOSED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.support.ChangelogActivity"
            android:theme="@style/MaterialDrawerTheme.ActionBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".fragments.extras.CameraActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name="net.rdrei.android.dirchooser.DirectoryChooserActivity" />

        <activity
            android:name=".activities.support.GittyActivity"
            android:theme="@style/GittyTheme" />

        <activity
            android:name=".fragments.sensors.SensorActivity"
            android:theme="@style/MaterialDrawerTheme" />

        <activity
            android:name=".activities.cloud.CloudActivity"
            android:theme="@style/MaterialDrawerTheme" />
    </application>
</manifest>